@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    color: #424f5a;
    font-weight: 700;
}

#main-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #798ca3;
}

.canvas {
    display: flex;
    height: 400px;
    width: 400px;
    border: 5px solid #424f5a;
    border-radius: 10px;
    flex-wrap: wrap;
}

.pixel {
    box-sizing: border-box;
}

.grid {
    border: 1px solid #424f5a;
}

.canvas-size-range {
    width: 400px;
}
